
 * {
  box-sizing:border-box;
  padding: 0;
  margin: 0;
  background-color: lightseagreen;
  font-family: 'Trebuchet MS', sans-serif; 

}
.navbar {
  background-color: darkblue;
  color:white;
  display:flex;
  justify-content: space-around;
  height:120px;
  align-items: center;
  font-size: 17px;

}
.primary-icon {
  height: 80px;
  align-items: center;
  position:relative;
}

.nav-list {
  list-style-type: none;
  background-color: darkblue;

}
.nav-list .list-item {
  display: inline-block;
  padding: 20px 10px;
  background-colour:darkblue;

}
.navbar a {
  color:white;
  text-decoration: none;
}
.navbar a:hover {
  color:dodgerblue;
}
.Landing-Page {
  margin-top: 14px;
  margin-left:20px;
  position: relative;
  text-align: center;
  color: white;
  border-radius:15px;
}
.Croke {
  justify-content: center;
  align-items:center;
  border-radius:15px;
}

.wrapper {
  margin-left:530px;
  display:flex; 
  flex-direction: column;
  width:480px;
  poition:relative; 
  text-align:center;
  font-size: 20px;
 
}

.narrative {
  display:flex; 
  justify-content:center;
  align-items:center;
  width:480px;
  poition:relative; 
  font-size: 20px;
  color:white;
  margin-left:25px;
  align =justify;

}

.gaalogo img {
  margin-left:40px;
  margin-top:80px;
  width:500px;
  border-radius:25px;
  justify-content: flex-end;
}

.kiely  img   {
  border-radius:25px;
  margin-top:80px;
  margin-left:60px;
}

.outer-container  {
  display:flex;
  flex-direction: row;
  width:1100px;
}

.left-container {
  align-items: center;
  margin-left:40px;

}

.threeinarow  {
  text-align:center;
  margin-left:60px;
}

.content-table {
  margin:20px 0;
  font-size:20px;
  min-width:300px;
  text-align: center;
  align-content: center;
}
.content-table thead tr {
  text-align: center;
  margin-left: 0;
  color:black;
  font-weight:bold;

}

table {
        border-style: ridge;
        border-width: 125px;
        border-color: green;
        background-color: antiquewhite;


      }
      th {
        border: 2px solid #095484;
      }
      td {
        border: 10px groove #1c87c9;
      }

.inner-container1 {
  flex-direction: column;
  margin-left: 150px;
  justify-content: initial;
  width:600px;
  text-align:justify;
}

.inner-container1_1 {
  border: 2px solid black;
}

.bottom-footer {
  color:darkblue;
  font-size: 10px;
  font-style: italic;
  text-align: center;
  font-weight: 600;
  margin-left: 70px;


} 

/* this section deals with at Media Comments to make the style responsive for a max width 480px mobile screen*/

@media screen and (max-width:1300px) {   
    .wrapper {
  margin-left:400px
      
    }

    @media screen and (max-width:1300px) {   
    .landing-page {
    margin-top: 10px;
    margin-left:100px;
    position: relative;
    text-align: center;
    color: white;
    border-radius:10px;
      
    }

@media screen and (max-width:900px) {
  .outer-container {
    display:inline-block;
    margin-left:2px;
  }

@media screen and (max-width:900px) {   
    .page2 {
      margin-left:40px;
    }

  @media screen and (max-width:900px) {   
    .inner-container1 {
      margin-left:10px;
      width:480px;
      font-size:20px;
    }

  @media screen and (max-width:900px) {
    .threeinarow  {
    text-align:left;
    margin-left:2px;
}
  

  @media screen and (max-width:900px) {   
    .gaalogo img {
      margin-left: 5px;
      margin-top: 5px;
    }

  @media screen and (max-width:900px) {
    .kiely img {
      margin-left: 40px;
      margin-top:5px;

    }

    @media screen and (max-width:900px) {   
    .narrative {
      display:flex;
      width:480px;  
      text-align:justify;
      font-size: 20px;
      padding-left: 0px;
      margin-left: 10px;

    }

}

    @media screen and (max-width:900px) {   
    .wrapper {
  margin-left:1px;
  display:flex; 
  flex-direction: column;
  width:410px;
  poition:relative; 
  text-align:center;
  font-size: 20px;
      

    }